/* ======
CONTAINER'
========= */

.container{
    max-width: 75rem;
    margin: auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
.container-small{
    max-width: 40rem;
    margin: auto;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
/* ========
REGOLE FLEX
======== */
.flex{
    display: flex;
}
.flex-space-b{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.list a{
    text-decoration: none;
    color: var(--text-color);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    margin-left: .625rem;
    margin-right: .625rem;
}
img{
    width: 100%;
}
section:not(:first-child){
    padding-top: 3.75rem;
}

/* ========
IMG
=========== */
.circle-img{
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}

/* =======
BUTTONS
========= */
 button{
    padding: .625rem;
    border-radius: 1.25rem;
    border: none;
 }