/* =====
MAIN
====== */


/* =======
FIRST MAIN SECTION
======== */
main{
    padding-top: 7.5rem;
}
main section{
    padding-bottom: 3rem;
}
.first-section .row{
    width: 100%;
}
main .col{
    padding: 1.875rem 1.875rem 0rem 1.875rem ;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 2rem;
}
main .row .col > *:not(:last-child){
    padding-bottom: 2rem;
}
main .first-section .col{
    width: 100%;
    text-align: center;
}
.first-section .col div:first-child> * {
    padding-bottom: 1.875rem ;
}
/* =====
button first section and color col
======== */
.first-section button{
    font-size: 1.875rem;
    padding: .625rem 6.25rem .625rem 6.25rem;
    background-color: var(--header-first-color);
    color: var(--text-color);
    border: none;
    font-weight: bold;
}
.first-section .col{
    background-color: var(--header-second-color);
}

/* =======
SECOND MAIN SECTION
========= */
.second-section .col > *{
    padding-bottom: 1rem;
}

/* =======
button second-section and color
======= */
.second-section button{
    background-color: var(--main-first-color);
    border: none;
    padding: 1.5rem;
    border-radius: 100%;
}
.second-section{
    background-color: var(--main-first-color);
    color: var(--text-color);
}
.second-section .col:last-child{
    background-color: var(--background-color-banner);
    border-radius: 1.2rem;
}
.second-section .col:last-child{
    color: var(--text-color-banner);
    text-align: center;
} 

/* =======
TIRD MAIN SECTION
========= */
.tird-section .col > *{
    width: 100%;
    text-align: center;
}
.tird-section img{
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem; 
}
.tird-section p{
    padding-bottom: 1.875rem;
}
/* ======
Tird section color
========== */
.tird-section .col:not(:first-child){
    background-color: var(--main-first-color);
    color: var(--text-color);
}


/* =======
FOURTH MAIN SECTION
========= */

/* =======
fourth section button and color
========= */
 .fourth-section{
    background-color: var(--main-first-color);
 }
 .fourth-section .col{
    background-color: var(--background-color-banner);
    padding: 2rem;
 }
 .fourth-section button{
    background-color: var(--main-first-color);
    color: var(--text-color);
    padding: .625rem 2.5rem .625rem 2.5rem;
 }


/* =======
FIFTH MAIN SECTION
========= */

.fifth-section .relative {
    position: relative;
    width: 40%;
}
.fifth-section img{
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem;
}
.fifth-section .relative i{
    position: absolute;
    font-size: 2rem;
    top: 0;
    right: 0;
}
.fifth-section .col {
    padding-bottom: 1.875rem;
}

/* =======
fifth section button and color
==========*/
.fifth-section button{
    background-color:var(--main-first-color);
    color: var(--text-color);      
}

/* ========
SIXTH MAIN SECTION 
========== */
.sixth-section .col{
    text-align: center;
}

.sixth-section .list{
    justify-content: center;
}
/* ==========
sixth section button and color
========== */

.sixth-section{
    background-color: var(--main-first-color);
}
.sixth-section button{
    color: var(--main-first-color);
    padding: 1rem 2.5rem 1rem 2.5rem;
}

/* =========
SEVENTH SECTION
========== */

.seventh-section .col{
    width: 100%;
    padding: 2rem 0rem 2rem 0rem ;
    text-align: center;
}
.seventh-section p{
    text-align: center;
}

/* ======
seventh section color
======== */

.seventh-section a{
    color: var(--footer-link-color);
}

/*========
QUERY MAIN
========== */

/*========
FIRST MAIN SECTION QUERY
========== */

@media screen and (min-width:768px){
    main .first-section .row .col{
        width: calc(100% / 3 - 1.25rem); 
    }
    main .first-section .row .col:first-child{
        width: calc((100% / 3) * 2 - 1.25rem);     
    }
    .first-section img{
        width: 100%;
    }
}

@media screen and (min-width:992px){
   
    main .first-section .row .col{
     display: flex;
    }
    .phone{
        align-self: flex-end;
    }
    .first-section .col-split div{
        width: 100%;
    }
}

/*========
SECOND MAIN SECTION QUERY
========== */
@media screen and (min-width:992px){
    .second-section .container {
        display: flex;
        
    }
    .second-section .col{
        width: 50%; 
        align-self: flex-end;
    }
    .second-section .col-left div:first-child{
        padding-bottom: 20rem; 
    }
    .second-section .col-right{
        padding: 3rem ;
    }
}

/*========
TIRD MAIN SECTION QUERY
========== */
@media screen and (max-width:767px){
    .tird-section .col{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
}

@media screen and (min-width:768px){
    main .tird-section .col{
        width: 100%; 
    }
    main .tird-section .col:not(:first-child){
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .tird-section .col-img{
        width: 30%;
    }
    .tird-section .col-text{
        width: 70%;
    }
}
/* =======
FOURTH MAIN SECTION QUERY
========= */

@media screen and (min-width:768px){
    main .fourth-section .col{
        width: calc(100% / 2 - 1.25rem);
    }
}
@media screen and (min-width:992px) {
       main .fourth-section .col{
        width: calc(100% / 3 - 1.25rem);
       }
}

/* =======
FIFTH MAIN SECTION QUERY
========= */

@media screen and (min-width:768px){
    .col-60{
        width: calc(60% - 1.25rem);
    }
    .col-40{
        width:  calc(40%  - 1.25rem);
    }
}
@media screen and (min-width:992px){
    .fifth-section .col-40{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* =======
SIXTH MAIN SECTION QUERY
========= */