/* =====
MAIN
====== */


/* =======
FIRST MAIN SECTION
======== */

main{
    padding-top: 7.5rem;
}
main section{
    padding-bottom: 3rem;
}
.first-section .row{
    width: 100%;
}
main .col{
    padding: 1.875rem 1.875rem 0rem 1.875rem ;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 2rem;
}
main .row .col > *:not(:last-child){
    padding-bottom: 2rem;
}
main .first-section .col{
    width: 100%;
    text-align: center;
}
.first-section .col div:first-child> * {
    padding-bottom: 1.875rem ;
}

/* =====
button first section and color col
======== */

.first-section button{
    font-size: 1.875rem;
    padding: .625rem 6.25rem .625rem 6.25rem;
    background-color: var(--header-first-color);
    color: var(--text-color);
    border: none;
    font-weight: bold;
}
.first-section .col{
    background-color: var(--header-second-color);
}

/* =======
SECOND MAIN SECTION
========= */

.second-section .col > *{
    padding-bottom: 1rem;
}

/* =======
button second-section and color
======= */

.second-section button{
    background-color: var(--main-first-color);
    border: none;
    padding: 1.5rem;
    border-radius: 100%;
}
.second-section{
    background-color: var(--main-first-color);
    color: var(--text-color);
}
.second-section .col:last-child{
    background-color: var(--background-color-banner);
    border-radius: 1.2rem;
}
.second-section .col:last-child{
    color: var(--text-color-banner);
    text-align: center;
} 

/* =======
TIRD MAIN SECTION
========= */

.tird-section .col > *{
    width: 100%;
    text-align: center;
}
.tird-section img{
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem; 
    object-fit: cover;
}
.tird-section p{
    padding-bottom: 1.875rem;
}

/* ======
Tird section color
========== */

.tird-section .col:not(:first-child){
    background-color: var(--main-first-color);
    color: var(--text-color);
}


/* =======
FOURTH MAIN SECTION
========= */

/* =======
fourth section button and color
========= */

 .fourth-section{
    background-color: var(--main-first-color);
 }
 .fourth-section .col{
    background-color: var(--background-color-banner);
    padding: 2rem;
 }
 .fourth-section button{
    background-color: var(--main-first-color);
    color: var(--text-color);
    padding: .625rem 2.5rem .625rem 2.5rem;
 }


/* =======
FIFTH MAIN SECTION
========= */
.fifth-section img{
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem;
    object-fit: cover;
}
.fifth-section .col {
    padding-bottom: 1.875rem;
}
.fifth-section .p-relative {
    position: relative;
    width: 12.5rem;
}
.fifth-section .p-absolute{
    position: absolute;
    top:0%;
    right: 0%;
    font-size: 3em;
    color: var(--main-first-color);
}

/* =======
fifth section button and color
==========*/

.fifth-section button{
    background-color:var(--main-first-color);
    color: var(--text-color);      
}

/* ========
SIXTH MAIN SECTION 
========== */

.sixth-section .col{
    text-align: center;
}

.sixth-section .list{
    justify-content: center;
}

/* ==========
sixth section button and color
========== */

.sixth-section{
    background-color: var(--main-first-color);
}
.sixth-section button{
    color: var(--main-first-color);
    padding: 1rem 2.5rem 1rem 2.5rem;
}

/* =========
SEVENTH SECTION
========== */

.seventh-section .col{
    width: 100%;
    padding: 2rem 0rem 2rem 0rem ;
    text-align: center;
}
.seventh-section p{
    text-align: center;
}

/* ======
seventh section color
======== */

.seventh-section a{
    color: var(--footer-link-color);
}

