/* =====
MAIN
====== */


/* =======
FIRST MAIN SECTION
======== */
main{
    padding-top: 7.5rem;
}
main .first-section .row{
    width: 100%;
}
main .row .col{
    padding: 1.875rem 1.875rem 0rem 1.875rem ;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--header-second-color);
    border-radius: 1.25rem;
    
}
main .row .col > *:not(:last-child){
    padding-bottom: 1.25rem;
}
main .first-section .col{
    width: 100%;
}

/* =======
SECOND MAIN SECTION
========= */

.second-section{
    background-color: var(--main-first-color);
    color: var(--text-color);
}
.second-section .col:last-child{
    background-color: var(--background-color-banner);
    border-radius: 1.2rem;
}
.second-section .col, .second-section .col > *{
    padding-bottom: 3.125rem;
}
.second-section .col:last-child{
    color: var(--text-color-banner);
    text-align: center;
} 
/* =======
TIRD MAIN SECTION
========= */
.tird-section .col{
  
}
.tird-section img{
    border-radius: 100%;
    width: 200px;
    height: 200px; 
}
/* =======
FOURTH MAIN SECTION
========= */


/* =======
FIFTH MAIN SECTION
========= */
.fifth-section .col, .sixth-section .col, footer p{
    text-align: center;
}

/*========
QUERY MAIN
========== */

/*========
FIRST MAIN SECTION QUERY
========== */

@media screen and (min-width:768px){
    main .first-section .row .col{
        width: calc(100% / 3 - 1.25rem);
        
    }
    main .first-section .row .col:first-child{
        width: calc((100% / 3) * 2 - 1.25rem);     
    }
    .first-section img{
        width: 50%;
    }
}

@media screen and (min-width:992px){
    main .first-section .row .col div:first-child{
        width: 50%;  
    }
    main .first-section .row .col{
     display: flex;
    }
    .first-section img{
        width: 100%;
    }
}

/*========
SECOND MAIN SECTION QUERY
========== */
@media screen and (min-width:992px){
    .second-section .container {
        display: flex;
        align-items: flex-end;
    }
    .second-section .col{
        width: 50%; 
        
    }
}

/*========
TIRD MAIN SECTION QUERY
========== */
@media screen and (max-width:767px){
    .tird-section .col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:768px){
    main .tird-section .col{
        width: 100%; 
    }
    main .tird-section .col:not(:first-child){
        display: flex;
        align-items: center;
    }
}
/* =======
FOURTH MAIN SECTION QUERY
========= */

@media screen and (min-width:768px){
    main .fourth-session .col{
        width: calc(100% / 2 - 1.25rem);
    }
}
@media screen and (min-width:992px) {
       main .fourth-session .col{
        width: calc(100% / 3 - 1.25rem);
       }
}

/* =======
FIFTH MAIN SECTION QUERY
========= */

@media screen and (min-width:768px){
    .col-60{
        width: calc(60% - 1.25rem);
    }
    .col-40{
        width:  calc(40%  - 1.25rem);
    }
}