    body{
        font-family: 'PT Sans', sans-serif;
    }
/* ========
    FIRST SECTION
    ========= */

    .first-section h3{
        color: var(--header-first-color);
        font-size: 2rem;
        font-weight: bold;
    }
    .first-section p{
        font-size: 1.5rem;
    }
    .first-section .big-icon{
       font-size: 6.25rem;
       color: var(--header-first-color);
    }

    /*===========
    SECOND SECTION 
    ========*/

    .second-section h2{
        font-size: 3.75rem;
    }
    .second-section p{
        font-size: 1.1rem;
    }
    .second-section h3{
        font-size: 2rem;
        font-weight: bold;
    }
    .second-section p{
        font-size: 1.2rem;
    }

     /*===========
    TIRD SECTION 
    ========*/
    .tird-section h6{
        font-size: 1rem;
    }
    .tird-section h3{
        font-size: 3rem;
        color: var(--main-first-color);
    }
   
    /*=======
    FOURTH SECTION
    ====== */

    .fourth-section h2{
        color: var(--text-color);
        font-size: 3rem;
        text-align: center;
    }
    .fourth-section h3{
        color: var(--main-first-color);
        font-size: 2.5rem;
    }
    .fourth-section h4{
        color: var(--main-first-color);
        font-size: 1.7rem;
    }

    /*=======
    FIFTH SECTION
    ========  */

    .fifth-section h2{
        color: var(--main-first-color);
        font-size: 2rem;
    }
    .fifth-section .col-40 p{
        color: var(--main-first-color);
        font-size: 2rem;
        font-weight: bold;
    }

    /* ========
    SIXTH SECTION
    ========= */

    .sixth-section p{
        color: var(--text-footer-color);
        font-size: 1rem ;
    }
    .sixth-section h3{
        color: var(--main-motive-color);
        font-size: 5rem;
        font-weight: bolder;
    }
    .sixth-section h4{
        color: var(--text-color);
        font-size: 2rem ;
    }
   

